.user {
	@apply flex flex-wrap gap-5 justify-center;

	.block {
		@apply p-6 rounded-xl;
		background-color: var(--light-dark);

		&.button {
			@apply flex flex-row flex-wrap gap-2;
			width: 380px;

			> button {
				width: 160px;
				height: 62px;
			}
		}
	}
	.info {
		display: flex;
		flex-direction: column;
		label {
			display: flex;
			flex-direction: column;
			width: 100%;
			input {
				margin-bottom: 10px;
			}
		}

		.btnBlock {
			margin: 0 auto;
			button {
				min-width: 120px;
				max-width: 250px;
				margin-right: 10px;
			}
		}
	}
}

@media (max-width: 1000px) {
	.user {
		display: flex;
		flex-direction: column;
	}
}

.modal {
	@apply p-3 border rounded-xl;
	background-color: var(--light-dark);

	.header {
		@apply flex justify-between;

		> h2 {
			@apply m-auto;
		}

		> svg {
			@apply cursor-pointer fill-white;
		}
	}

	.main {
		> p {
			@apply text-black;
		}
	}
}
