.user {
	@apply flex flex-wrap gap-5 justify-center;

	.block {
		@apply p-6 rounded-xl;
		background-color: var(--light-dark);

		&.info {
			.list > .list__item {
				margin-bottom: 10px;

				.param {
					@apply flex justify-between;
					line-height: 1.4;

					.param__prop {
						position: relative;
						display: block;
						overflow: hidden;
						width: 100%;
					}

					.param__prop:after {
						content: '';
						position: absolute;
						margin-left: 0.3em;
						bottom: 0.35em;
						width: 100%;
						border-bottom: 0.1em dotted;
					}

					.param__value {
						padding-left: 0.2em;
					}
				}
			}
		}

		&.button {
			@apply flex flex-row flex-wrap gap-4;
			width: 384px;

			> button {
				width: 160px;
				height: 62px;
			}

			// @media (max-width: 1000px) {
			// 	flex-wrap: nowrap !important;
			// }

			@media (min-width: 730px) and (max-width: 1000px) {
				flex-wrap: nowrap;
			}

			@media (max-width: 730px) {
				display: grid;
				grid-template-columns: auto auto;

				> button {
					max-width: 200px;
					min-width: 120px;
					height: auto;
				}
			}

			@media (max-width: 415px) {
				> button {
					@apply w-full;
				}
			}
		}
	}
}

@media (max-width: 1000px) {
	.user {
		display: flex;
		flex-direction: column;

		.block {
			&.button {
				@apply w-full justify-between;
			}
		}
	}
}

.modal {
	@apply p-3 border rounded-xl;
	background-color: var(--light-dark);

	.header {
		@apply flex justify-between;

		> h2 {
			@apply m-auto;
		}

		> svg {
			@apply cursor-pointer fill-white;
		}
	}

	.main {
		> p {
			@apply text-black;
		}
	}
}
