.user {
	.block {
		padding: 2rem;
		background-color: var(--light-dark);
		border-radius: 1rem;
	}
	.info {
		display: flex;
		flex-direction: column;
		label {
			display: flex;
			flex-direction: column;
			width: 100%;
			input {
				margin-bottom: 10px;
			}
		}

		.btnBlock {
			margin: 0 auto;
			button {
				min-width: 120px;
				max-width: 250px;
				margin-right: 10px;
			}
		}
	}
}

@media (max-width: 1000px) {
	.user {
		display: flex;
		flex-direction: column;
	}
}
