.flyLists {
	@apply p-8 rounded-xl;
	background-color: var(--light-dark);

	> h1 {
		@apply text-center mb-5;
	}

	.items {
		@apply flex flex-col justify-between gap-4;

		.content {
			@apply flex justify-between items-center pb-4 mb-4;
			border-bottom: 1px solid #fff;

			.btns {
				display: flex;
			}
		}
	}

	svg {
		margin: 0 5px;
		fill: var(--white);
		transition: all 0.2s ease-in-out;
		cursor: pointer;

		&:hover {
			fill: var(--green);
			transform: scale(1.2);
		}

		&.edit {
			&:hover {
				fill: var(--yellow);
			}
		}

		&.trash {
			&:hover {
				fill: var(--red);
			}
		}
	}
}

.flyList {
	@apply p-8 rounded-xl;
	background-color: var(--light-dark);
	width: 60%;
	margin: 0 auto;

	h1 {
		color: var(--white);
		margin-bottom: 1rem;
	}

	form {
		display: flex;
		flex-direction: column;
		margin: 0 auto;

		label {
			color: var(--white);

			input,
			select {
				width: 100%;
				box-sizing: border-box;
				margin-bottom: 0.5rem;
			}
		}

		button {
			width: min-content;
			margin: 1rem auto 0 auto;
		}
	}

	@media (max-width: 1000px) {
		width: 75%;
	}

	@media (max-width: 700px) {
		@apply w-full px-6;
	}
}

.modal {
	@apply p-3 border rounded-xl;
	width: 350px;
	min-height: 250px;
	height: auto;
	background-color: var(--light-dark);

	.header {
		@apply flex justify-between;

		> h2 {
			@apply m-auto;
		}

		> svg {
			@apply cursor-pointer fill-white;
		}
	}

	.main {
		@apply flex flex-col justify-between py-4;
		min-height: calc(250px - 60px - 0.75rem);

		> label {
			@apply my-4;
		}

		button {
			z-index: 0 !important;
		}
	}
}
