.common {
	> label {
		@apply block;

		> span {
			@apply text-xs uppercase text-gray-600 block;
		}
	}
}

.field {
	@apply text-left mb-2;

	input {
		color: var(--black);
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		display: block;
		font-size: 16px;
		height: 38px;
		outline: none;
		padding: 0 10px;
		color: var(--dark);
	}

	&.error {
		> p {
			@apply text-sm w-full text-primary;
		}
	}
}
