.wallets,
.editWallet,
.newWallet {
	padding: 2rem;
	background-color: var(--light-dark);
	border-radius: 1rem;

	> h1 {
		@apply text-center mb-5;
	}

	&.isLoad {
		padding: 0 !important;
	}
}

.wallets {
	.items {
		@apply flex flex-col justify-between gap-4;

		.item {
			@apply flex justify-between items-center pb-4 mb-4;
			border-bottom: 1px solid #fff;
		}
	}

	svg {
		margin: 0 5px;
		fill: var(--white);
		transition: all 0.2s ease-in-out;
		cursor: pointer;

		&:hover {
			fill: var(--green);
			transform: scale(1.2);
		}

		&.edit {
			&:hover {
				fill: var(--yellow);
			}
		}

		&.trash {
			&:hover {
				fill: var(--red);
			}
		}
	}
}

.editWallet {
	width: 50%;
	margin: 0 auto;

	form {
		display: flex;
		flex-direction: column;

		label {
			display: flex;
			flex-direction: column;

			input,
			select {
				margin-bottom: 10px;
			}
		}

		button {
			width: min-content;
			margin: 0 auto;
		}
	}
}

@media (max-width: 1000px) {
	.newWallet,
	.editWallet {
		width: 75%;
	}
}

@media (max-width: 700px) {
	.newWallet,
	.editWallet {
		@apply w-full px-6;
	}
}
